# Database
DB_DRIVER=postgresql
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=""
DB_DATABASE=test

INSTALLED_APPS=turbulette.apps.auth, tests.app_1, tests.app_2

MIDDLEWARES=turbulette.middleware.csrf.CSRFMiddleware, starlette.middleware.cors.CORSMiddleware

PYTEST_TURBULETTE_SETTINGS=tests.settings

GRAPHQL_ENDPOINT=/graphql

CONFIGURE_LOGGING=False

DEBUG=True

# Enable ariadne apollo tracing extension
APOLLO_TRACING=False

APOLLO_FEDERATION=False

# User model used for authentication.
AUTH_USER_MODEL=tests.app_1.models.BaseUser

# A valid hash algorithm that can be passed to CryptContext
# see https://passlib.readthedocs.io/en/stable/lib/passlib.hash.html#module-passlib.hash
HASH_ALGORITHM=bcrypt

JWT_REFRESH_ENABLED=True
JWT_BLACKLIST_ENABLED=True
JWT_BLACKLIST_TOKEN_CHECKS=access, refresh
JWT_ALGORITHM=ES256
JWT_AUDIENCE=http://api.io/booking
JWT_ISSUER=http://api.io/auth/

JWT_VERIFY=True

POLICY_CONFIG=tests/policies.json

CORS_ALLOW_ORIGINS=https://www.example.org

SECRET_KEY_KTY=EC
SECRET_KEY_D=RXZ7nMEJ83eyRPmu7rjNYxgOeGH1Th7O3PvQhvfLQLw
SECRET_KEY_USE=sig
SECRET_KEY_CRV=P-256
SECRET_KEY_X=bZOtOYAveZdxSpiJHeCILO3IUuHIWdb29v_6y6p8I8M
SECRET_KEY_Y=j3N2iYJWeqvPKLTkHhlHoBLSXisO4Umc8634kS2TFSU
SECRET_KEY_ALG=ES256
